{{- /*gotype: github.com/overanalytcl/pbgen/internal/pbgen.Problem*/ -}}
# [{{ .Metadata.Name }} #{{ .Metadata.Id }}](https://new.pbinfo.ro/probleme/{{ .Metadata.Id }}/{{ .Metadata.Name }})

{{ MetadataToMarkdown .Metadata }}
